/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #134266   ;
  --secondary-color: #78c5d7 ;
  --accent1-color: #fce172;
  --accent2-color: #ffffff;
  --support-color: #000000;

  /* change the values below to your chosen font(s) */
  --heading-font: "Oleo Script";
  --paragraph-font: Poppins, Helvetica, sans-serif;
}

/* Custom Styles */

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: var(--secondary-color);
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
body {
    background-color: var(--accent2-color);
}
header{
    background-color: var(--primary-color);
}
nav a{
    text-align:  center;
    background-color: var(--accent1-color);
    color: var(--support-color)
}
.book, .join{
    background-color: var(--primary-color);
    color: var(--accent2-color)
}
.book:hover, .join:hover{
    background-color: var(--accent1-color);
    color: var(--support-color)
}
nav a:hover{
    background-color: var(--secondary-color);
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.msg{
    background-color: var(--accent1-color);
}
footer{
    background-color: var(--primary-color);
}