@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #252525;
    --secondary-color: #FEE715;
    --accent1-color: #3A6B35;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Passion One", Helvetica, sans-serif;
    --paragraph-font: "Roboto", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #252525;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #252525; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #252525; /* paragraph text on a colored background */ 
    --paragraph-background-color: #252525  ;
    --nav-link-color: white;
    --nav-background-color: #252525;
    --nav-hover-link-color: #252525;
    --nav-hover-background-color: #FEE715;
  }
.contain {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    margin: 0;
    padding: 0;
}
#content{
    max-width: 1680px;
    margin: 0 auto;
}
#content header {
    background-color: #000;
}
#content header .contain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
#content header nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px 10px;
    width: 100%;
}
#content header nav a{
    color: var(--accent2-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--paragraph-font);
    padding: 30px;
    position: relative;
}
#content header nav a::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0;
    height: 5px;
    transition: .3s;
    background-color: var(--secondary-color);
}
#content header nav a:hover::before {
    width: 100%;
}
#logo_link{
    width: 150px;
}
#logo_link img{
    width: 100%;
}

/* Hero Shot*/
#hero{
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--primary-color);
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-box img {
    width: 100%;
    filter: brightness(0.5);
}
.hero-info{
    width: 220px;
    align-self: center;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/4;
    grid-row: 1/3;
    padding-bottom: 20px;
}
.hero-info div {
    padding: 10px;
}
.hero-info .img-container img {
    width: 100%;
}
#hero-msg{
    text-align: center;
    padding: 10px;
}
#hero-msg h1, #hero-msg h4 {
    color: var(--accent2-color);
    font-family: var(--heading-font);
    font-size: 23px;
    text-shadow: 1px 1px 3px black;
}
#hero-msg p {
    font-size: 16px;
    color: var(--accent2-color);
    text-shadow: 1px 1px 3px black;
}
.home-grid{
    padding: 10% 0%;
}
.home-grid .row{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    text-align: center;
}
.home-grid .row .img-container img {
    width: 100%;
}
.home-grid .row .welcome-txt h3{
    color: var(--accent1-color);
    font-size: 23px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
    font-family: var(--heading-font);
}
.home-grid .row .welcome-txt p {
    color: #000;
    font-size: 16px;
    margin-bottom: 15px;
}
footer{
    background-color: var(--primary-color);
    padding: 10% 0%;
}
footer .row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
footer .row h3 {
    color: var(--secondary-color);
    font-size: 23px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
    font-family: var(--heading-font);
}
footer .row .social-media{
    display: flex;
    justify-content: center;
}
footer .row .social-media-container {
    margin-bottom: 30px;
}
footer .row .social-media .img-container {
    width: 40px;
    margin: 0px 5px;
}
footer .row .social-media .img-container img {
    width: 100%;
}
footer .row .quick-link a {
    display: block;
    padding: 10px 0px;
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    font-family: var(--paragraph-font);
}
footer .row .quick-link a:hover {
    color: var(--secondary-color);
}
/* medias */
@media (max-width: 767px){
    footer .row{
        width: 250px;
    }
}
@media (min-width: 768px){
    #hero {
        display: grid;
        background: none;
        padding: 0;
    }
    .hero-info{
        display: grid;
        width: initial;
        padding-bottom: 0;
    }
    #content header nav{
        flex-direction: row;
        margin: 0px 10px;
    }
    #content header nav a{
        padding: 57px;
    }
    #content header .contain{
        padding: 10px 0px;
    }
    .home-grid .row {
        flex-direction: row;
        width: initial;
    }
    .home-grid .row div {
        width: 50%;
        padding: 0px 15px;
    }
    footer {
        padding: 5% 0%;
    }
    footer .row {
        flex-direction: row;
    }
    footer .row .social-media-container {
        margin-bottom: 0px;
    }
    .welcome-txt{
        text-align: left;
    }
}
@media (min-width: 992px){
    .contain{
        width: 970px;
    }
    #hero-msg h1{
        font-size: 40px;
    }
    #hero-msg h4{
        font-size: 30px;
    }
    #hero-msg p{
        font-size: 23px;
    }
    .home-grid{
        padding: 5% 0%;
    }
    .home-grid .row .welcome-txt h3{
        font-size: 50px;
    }
}
@media (min-width: 1200px){
    .contain{
        width: 1170px;
    }
    .home-grid .row .welcome-txt h3{
        font-size: 70px;
    }
    .home-grid .row .welcome-txt p{
        font-size: 22px;
    }
    footer .row h3 {
        font-size: 45px;
    }
}
@media (min-width: 1530px){
    .contain{
        width: 1500px;
    }
}