@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #252525;
    --secondary-color: #FEE715;
    --accent1-color: #3A6B35;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Passion One", Helvetica, sans-serif;
    --paragraph-font: "Roboto", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #252525;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #252525; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #252525; /* paragraph text on a colored background */ 
    --paragraph-background-color: #252525  ;
    --nav-link-color: white;
    --nav-background-color: #252525;
    --nav-hover-link-color: #252525;
    --nav-hover-background-color: #FEE715;
  }
.contain {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    margin: 0;
    padding: 0;
}
#content{
    max-width: 1680px;
    margin: 0 auto;
}
#content header {
    background-color: #000;
}
#content header .contain{
    padding: 10px 0px;
}
#content header nav {
    
}
#content header nav a{
    color: var(--accent2-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--paragraph-font);
}
#logo_link{
    width: 250px;
}
#logo_link img{
    width: 100%;
}
@media (min-width: 992px){
    .contain{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .contain{
        width: 1170px;
    }
}
@media (min-width: 1530px){
    .contain{
        width: 1500px;
    }
}